* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "merriweather";
    src: url(./fonts/Merriweather-Light.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(./fonts/Poppins-Light.ttf);
}

#root {
    min-height: 100vh;
}
body {
    background: #E3E9FF;
    min-height: 100vh;
    color: #111;
    padding: 10px;
    overflow: hidden;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app .copyright {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font: 18px 'poppins';
}
